<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field   class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email"  placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field   class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="password" formControlName="password">
    </mat-form-field>

    <mat-form-field   class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="name" formControlName="name">
    </mat-form-field>

    <mat-form-field   class="example-full-width" appearance="fill">
        <mat-label>Family name</mat-label>
        <input matInput type="text" placeholder="family_name" formControlName="family_name">
    </mat-form-field>

    <button mat-raised-button color="primary">Primary</button>
</form>
